body{

    background-image: url(./images/mountain.jpg);
    background-size:cover;
}
    #navbar{
        display: flex;
        font-size: xx-large;
        
        
    }
#Frontpage{
    text-align: center;
    font-size: xx-large;
    
    

}
.susan{
    background-color: #1c2e4a;
    height: 800px;
}

p{
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color: khaki;
}
#form{
    display: flex;
    margin: 80px;
}
#content{
    margin: auto;
    


}
#img{
    margin-left: 20%;
    margin-top: 50px;
  
}
    


  
    

    
    


    


  
    

    
    


    






