body{

    background-image: url(./images/mountain.jpg);
    background-size:cover;
}
    #navbar{
        display: flex;
        font-size: xx-large;
        
        
    }
#Frontpage{
    text-align: center;
    font-size: xx-large;
    
    

}
.susan{
    background-color: #0b1d26;
    height: 800px;
}

p{
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color: khaki;
}
#form{
    display: flex;
    margin: 80px;
}
#content{
    margin: auto;
    


}
#img{
    margin-left: 20%;
    margin-top: 50px;
  
}


.textImg{
    display: flex;
}
.faith{
    background-color: #0b1d26;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    align-content: center;

}
  
  /* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
    font-size: larger;
    margin-bottom: 10%;
    align-items: center;
    
}

button{
    color: #fbd784;
    background-color: #0b1d26;
}
h1{
    font-family: sans-serif;
}
    


  
    

    
    


    


  
    

    
    


    






